### MATLAB files
*.m~

### OS files
# Mac OS X
.DS_Store
/Icon*
._*

### Build products
# Java
*.class
# C
*.o
# Python
*.pyc

### Editor files
# Emacs
*~
# Vim
.*.swp
# Eclipse
.project
.classpath
.manager
.settings
# IntelliJ IDEA
*.iml
*.ipr
*.iws